<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appid</key>
	<string>c2efd689578281e6a764d69c433c2088</string>
	<key>accountid</key>
	<string>3562955</string>
</dict>
</plist>
